@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>The MyMGM app is in development and is being designed to highlight some of the cool but sometimes hard to find events, places, and organizations in <a href="https://twitter.com/#mymgm">#mymgm</a>.</p>
